.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-weight: bold;
    color: #004491
}

body {
    background: url("logo.jpg"), url("logo_water.png"), url("logo_zorg.png"), url("logo_wonen.png");
    background-size: 10%, 10%, 10%, 10%;
    background-position: 5% 5%, 95% 5%, 80% 5%, 65% 5%;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}